.container {
    width: 80%;           
    max-width: 1200px;    
    margin: 20px auto;     
    padding: 20px;   
} 

.card{
    width: 100%;
    max-width: 1200px;   
    min-width: 350px; 
    margin: 20px auto;     
    padding: 20px;          
    border-radius: 8px;   
    background-color: #565e6d;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.last{
    margin-bottom: 100px;
}


.container-title{
    margin-bottom: 10px;
}




.container-subtitle{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}
