.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3a404b;
    color: white;
    text-align: center;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
  }